In [3]:
# Integers
x = 1
print(x)
print(type(x))
x = 1000000000000000000000000000000000000000000000000000000000000000000000000001
print(x)
print(type(x))

1
<class 'int'>
1000000000000000000000000000000000000000000000000000000000000000000000000001
<class 'int'>

In [6]:
age = int(input('Plase enter your age: '))
print(age)
print(type(age))

87
<class 'int'>

In [7]:
# Floating Points 
exchange_rate = 1.83
print(exchange_rate)
print(type(exchange_rate))

1.83
<class 'float'>

In [9]:
# Converting to Floats
int_value = 1
string_value = '1.5'
float_value = float(int_value)
print('int value as a float:', float_value)
print(type(float_value))
float_value = float(string_value)
print('string value as a float:', float_value)
print(type(float_value))

int value as a float: 1.0
<class 'float'>
string value as a float: 1.5
<class 'float'>

In [10]:
# Converting an Input String into a Floating Point Number
exchange_rate = float(input('Please enter the exchange rate to use:'))
print(exchange_rate)
print(type(exchange_rate))

2.3
<class 'float'>

In [11]:
# Boolean value
all_ok = True
print(all_ok)
all_ok = False
print(all_ok)
print(type(all_ok))

True
False
<class 'bool'>

In [12]:
# Convert string into Boolean
status = bool(input('Ok to proceed:'))
print(status)
print(type(status))

True
<class 'bool'>

In [ ]:
home = 10
away = 15
print(home + away)
print(type(home + away))
print(10 * 4)
print(type(10*4))
goals_for = 10
goals_against = 7
print(goals_for - goals_against)
print(type(goals_for - goals_against))

In [ ]:
print(100 / 20)
print(type(100 / 20))