In [3]:
# Integers
x = 1
print(x)
print(type(x))
x = 1000000000000000000000000000000000000000000000000000000000000000000000000001
print(x)
print(type(x))

1
<class 'int'>
1000000000000000000000000000000000000000000000000000000000000000000000000001
<class 'int'>

In [6]:
age = int(input('Plase enter your age: '))
print(age)
print(type(age))

87
<class 'int'>

In [7]:
# Floating Points 
exchange_rate = 1.83
print(exchange_rate)
print(type(exchange_rate))

1.83
<class 'float'>

In [9]:
# Converting to Floats
int_value = 1
string_value = '1.5'
float_value = float(int_value)
print('int value as a float:', float_value)
print(type(float_value))
float_value = float(string_value)
print('string value as a float:', float_value)
print(type(float_value))

int value as a float: 1.0
<class 'float'>
string value as a float: 1.5
<class 'float'>

In [10]:
# Converting an Input String into a Floating Point Number
exchange_rate = float(input('Please enter the exchange rate to use:'))
print(exchange_rate)
print(type(exchange_rate))

2.3
<class 'float'>

In [11]:
# Boolean value
all_ok = True
print(all_ok)
all_ok = False
print(all_ok)
print(type(all_ok))

True
False
<class 'bool'>

In [12]:
# Convert string into Boolean
status = bool(input('Ok to proceed:'))
print(status)
print(type(status))

True
<class 'bool'>

In [ ]:
home = 10
away = 15
print(home + away)
print(type(home + away))
print(10 * 4)
print(type(10*4))
goals_for = 10
goals_against = 7
print(goals_for - goals_against)
print(type(goals_for - goals_against))

In [ ]:
print(100 / 20)
print(type(100 / 20))

In [ ]:
num = int(input('Enter a number: '))
if num < 0:
   print(num, 'is negative')

In [ ]:
num = int(input('Enter another number: '))
if num > 0:
 print(num, 'is positive')
 print(num, 'squared is ', num * num)
print('Bye')

In [ ]:
savings = float(input("Enter how much you have in savings: "))
if savings == 0:
 print("Sorry no savings")
elif savings < 500:
 print('Well done')
elif savings < 1000:
 print('Thats a tidy sum')
elif savings < 10000:
 print('Welcome Sir!')
else:
 print('Thank you')

In [ ]:
age = 15
status = None
if (age > 12) and age < 20:
 status = 'teenager'
else:
 status = 'not teenager'
print(status)

In [4]:
# Nesting If Statements
snowing  = False
temp = 85
if temp < 65:
   print('It is freezing')
   if snowing: 
      print('Put on boots')
      print('Time for Hot Chocolate')
print('Bye')

Bye

In [6]:
count = 0
print('Starting')
while count < 10:
    print(count,'',end=' ')
    count += 1
print('Done')

Starting
0  1  2  3  4  5  6  7  8  9  Done

In [8]:
print('Print out values in a range')
for i in range(0,10):
   print(i, ' ', end=' ')
print('Done')

Print out values in a range
0   1   2   3   4   5   6   7   8   9   Done

In [11]:
# Break Loop Statemets
print('Only print code if all iterations competed')
num = int(input('Enter a number to check for: '))
for i in range(0,6):
    if i==num:
       break
    print(i,' ',end=' ')
print('Done')

Only print code if all iterations competed
0   1   2   3   4   5   Done

In [18]:
#Continue Loop Statements
for i in range(0,10):
  print(i,'\n')
  if i%2==1:
     continue
  print('hey its an even number')
  print('we love even numer')
print('Done')

0

hey its an even number
we love even numer
1

2

hey its an even number
we love even numer
3

4

hey its an even number
we love even numer
5

6

hey its an even number
we love even numer
7

8

hey its an even number
we love even numer
9

Done

In [24]:
#Creating a List
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.append('kiwi')
fruits.insert(2,'orange')
fruits

['orange',
 'apple',
 'orange',
 'pear',
 'banana',
 'kiwi',
 'apple',
 'banana',
 'kiwi']

In [25]:
fruits.remove('pear')
fruits

['orange', 'apple', 'orange', 'banana', 'kiwi', 'apple', 'banana', 'kiwi']

In [26]:
fruits.pop(3)
fruits

['orange', 'apple', 'orange', 'kiwi', 'apple', 'banana', 'kiwi']

In [29]:
fruits.reverse()
fruits

['kiwi', 'banana', 'apple', 'kiwi', 'orange', 'apple', 'orange']

In [30]:
#Dictionaries
tel = {'jack':4098, 'sape':4139}
tel

{'jack': 4098, 'sape': 4139}

In [31]:
tel['guido']=4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [33]:
tel['jack']
del tel['sape']
tel

{'jack': 4098, 'guido': 4127}

In [34]:
list(tel)

['jack', 'guido']

In [35]:
sorted(tel)

['guido', 'jack']

In [36]:
knight = {'gallahad':'the pure', 'robin':'the brave'}
for k, v in knight.items():
    print(k,v)

gallahad the pure
robin the brave

In [37]:
thisdict = {'brand':'Ford', 'electric':False, 'Year': 1964, 'colors':['red','white','blue']}
thisdict['brand']

'Ford'

In [38]:
thisdict['electric']

False

In [42]:
thisdict['colors'][2]

'blue'